.page {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
}

.little-box {
  width: 400px;
  background-color: lightgray;
  margin: 20px;


}
h1 {
  text-align: center;
  background-color: gray;
  color: white;
  margin: 0;

}
ul {
  font-size: 15px;
  padding: 30px 100px;
}
input {
  border: 1px solid black;
  width: 100%;
}
.newList {
  text-align: center;
}
button {
  width: 100%
}
